---
whiskers:
  version: "^2.9.0"
  matrix:
    - flavor
  filename: "themes/catppuccin-{{ flavor.identifier }}.toml"
  hex_format: "#{{r}}{{g}}{{b}}{{z}}"
---
[styling.palette]
# Background
bg = "{{ base.hex }}"
surface = "{{ mantle.hex }}"
elevated = "{{ surface0.hex }}"

# Foreground & text
primary = "{{ text.hex }}"
fg = "{{ text.hex }}"
fg-muted = "{{ subtext0.hex }}"

# Color palette
blue = "{{ blue.hex }}"
green = "{{ green.hex }}"
red = "{{ red.hex }}"
yellow = "{{ yellow.hex }}"
